.box {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.box div {
  height: 100%;
  background-color: yellow;
}

.ex1 .box,
.ex2 .box,
.ex3 .box div,
.ex4 .box div {
  display: none;
}

.tab {
  width: 500px;
  margin: 30px auto;
  border: 1px solid black;
}

.tab .tab_menu {
  display: flex;
  height: 40px;
  background-color: red;
}

.tab .tab_menu button {
  flex: 1;
  background-color: #ccc;
  border: 1px solid black;
  cursor: pointer;
}

.tab .tab_menu button.active {
  background-color: black;
  color: white;
}

.tab .pane:not(.pane1) {
  display: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  width: 200px;
  border: 1px solid black;
}

.menu>ul>li>a {
  display: block;
  padding: 10px;
  background-color: #000;
  color: #fff;
}
.menu>ul>li>a.active{
  background-color: red;
}

.menu>ul>li>ul>li>a {
  display: block;
  padding: 10px;
  background-color: #ddd;
}

.menu>ul>li>ul {
  display: none;
}